<script src="/js/user-owner.controller.js"></script>

<h2 class="md-title" translate>
    Опишите подробно что вы делали, чтобы приблизить свою мечту?
</h2>
<md-content layout-padding layout="column">

    <form name="promiseWorkForm" ng-submit="addPromiseWork()" class="md-padding">

        <fieldset class="standard">
            <legend translate>Выберите хорошее изображение, которое будет описывать вашу работу над мечтой</legend>
            <span>
                <img ng-show="promiseWork.logo != null" src="{{promiseWork.logo}}" class="image preview">
                <label class="md-primary md-raised md-button" md-ink-ripple for="promise-work-image">
                    <span translate>Логотип работы над мечтой</span>
                </label>
            </span>
            <input required id="promise-work-image" fileread="promiseWork.logo" ng-model="promiseWork.logo" name="logo" type="file" class="ng-hide">
            <md-input-container flex-gt-md="40">
                <div ng-messages="promiseWorkForm.logo.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>
        </fieldset>

        <fieldset class="standard">
            <legend translate>Хорошо опишите ваши достижения и работу</legend>
            <md-input-container flex-gt-md="40">
                <label translate>Заголовок</label>
                <input required id="promise-work-title" name="title" ng-maxlength="255" ng-model="promiseWork.title">
                <div ng-messages="promiseForm.title.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше 50 символов</div>
                </div>
            </md-input-container>

            <md-input-container flex-gt-md="40">
                <label translate>Полное описание проделаной работы</label>
                <textarea required id="promise-work-description" name="description"
                          ng-maxlength="16777000"
                          ng-model="promiseWork.description">
                </textarea>
                <div ng-messages="promiseForm.description.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше 16777000 символов</div>
                </div>
            </md-input-container>

        </fieldset>

        <input id="submit-form-promise-work-submit" type="submit" style="display: none;">

    </form>

    <form class="md-padding ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength">
        <fieldset class="standard">
            <legend translate>Загрузите фото и видео отчет</legend>
            <div layout="column">

                <div>
                    <div class="photo-work-gallery-container"
                         ng-if="promiseWork.gallery.photos[$index]"
                         ng-repeat="photo in promiseWork.gallery.photos track by $index">
                        <img src="{{photo}}" class="photo-work-gallery">
                        <md-button
                                ng-click="deletePhoto($index); $event.stopPropagation();"
                                aria-label="DropPhoto"
                                class="md-icon-button drop-button">
                            <md-icon md-svg-icon="close"></md-icon>
                        </md-button>
                    </div>
                </div>

                <span>
                    <label class="md-primary md-raised md-button" md-ink-ripple for="promise-work-photos">
                        <span translate>Выбрать фото</span>
                    </label>
                </span>

                <input id="promise-work-photos"
                       filereadmultiple="promiseWork.gallery.photos"
                       ng-model="promiseWork.gallery.photos"
                       name="photo-report"
                       type="file" accept="image/x-png, image/gif, image/jpeg"
                       multiple="multiple"
                       class="ng-hide">
            </div>
            <hr style="margin: 20px 0">
            <div layout="column">

                <div>
                    <div class="photo-work-video-container"
                         ng-if="videos[$index]"
                         ng-repeat="video in videos track by $index">

                        <iframe ng-if="video"
                                ng-src="{{video}}"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>

                        <md-button
                                ng-click="deleteVideo($index); $event.stopPropagation();"
                                aria-label="DropVideo"
                                class="md-icon-button drop-button">
                            <md-icon md-svg-icon="close"></md-icon>
                        </md-button>
                    </div>
                </div>

                <iframe
                        id="video-preview"
                        ng-if="showVideo" ng-src="{{showVideo}}"
                        frameborder="0" allowfullscreen></iframe>

                <span>
                    <md-input-container>
                        <label>Ссылка на видео</label>
                        <input ng-model="currentVideo" type="text">
                    </md-input-container>
                    <md-button
                            class="md-primary md-raised md-button"
                            ng-click="addVideo($event)"
                            flex flex-md="100" translate>
                        Добавить видео с youtube, rutube
                    </md-button>
                </span>
            </div>
        </fieldset>
    </form>

    <span>
        <label class="md-primary md-raised md-button" md-ink-ripple for="submit-form-promise-work-submit">
            <span translate>Добавить работу над целью</span>
        </label>
    </span>

</md-content>