<script src="/js/user-owner.controller.js"></script>

<h2 class="md-title" translate>
    Расскажите нам подробно что хотите сделать
</h2>
<md-content layout-padding layout="column">

    <form name="promiseForm" ng-submit="addPromise()" class="md-padding">

        <fieldset class="standard">
            <legend translate>Выберите хорошее изображение, которое будет описывать вашу цель</legend>
            <span>
                <img ng-show="promise.image != null" src="{{promise.image}}" class="image preview">
                <label class="md-primary md-raised md-button" md-ink-ripple for="promise-image">
                    <span translate>Изображение вашей цели</span>
                </label>
            </span>
            <input required id="promise-image" fileread="promise.image" ng-model="promise.image" name="image" type="file" class="ng-hide">
            <md-input-container flex-gt-md="40">
                <div ng-messages="promiseForm.image.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>
        </fieldset>

        <fieldset class="standard">
            <legend translate>Хорошо опишите Вашу цель, чтобы она была ясна окружающим</legend>
            <md-input-container flex-gt-md="40">
                <label translate>Заголовок</label>
                <input required id="promise-title" name="title" ng-maxlength="50" ng-model="promise.title">
                <div ng-messages="promiseForm.title.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше 50 символов</div>
                </div>
            </md-input-container>

            <md-input-container flex-gt-md="40">
                <md-select required placeholder="{{'Категория'|translate}}" ng-model="promise.category_id">
                    <md-option value="1" translate>Спорт</md-option>
                    <md-option value="2" translate>Музыка</md-option>
                    <md-option value="3" translate>Финансы</md-option>
                    <md-option value="4" translate>Семья</md-option>
                    <md-option value="5" translate>Отдых и развлечения</md-option>
                    <md-option value="6" translate>Самосовершенствование</md-option>
                    <md-option value="7" translate>Работа и карьера</md-option>
                    <md-option value="8" translate>Бизнес</md-option>
                    <md-option value="9" translate>Учеба</md-option>
                    <md-option value="10" translate>Наука и техника</md-option>
                    <md-option value="11" translate>Здоровье и красота</md-option>
                    <md-option value="0" translate>Другое</md-option>
                </md-select>
                <div ng-messages="promiseForm.short_text.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                </div>
            </md-input-container>

            <md-input-container flex-gt-md="40">
                <label translate>Короткое описание цели</label>
                <textarea required id="promise-short_text" name="short_text"
                          ng-maxlength="255"
                          ng-model="promise.short_text">
                </textarea>
                <div ng-messages="promiseForm.short_text.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше 255 символов</div>
                </div>
            </md-input-container>

            <md-input-container flex-gt-md="40">
                <label translate>Полное описание цели</label>
                <textarea required id="promise-description" name="description"
                          ng-maxlength="64000"
                          ng-model="promise.description">
                </textarea>
                <div ng-messages="promiseForm.description.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="maxlength" translate>Не больше 64000 символов</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <span>
                    <label translate>Дата испольнения цели</label>
                    <input required id="promise-deadline" name="deadline" type="date"
                           ng-min="currentDate"
                           ng-model="promise.deadline">
                    <div ng-messages="promiseForm.deadline.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="min" translate>Укажите дату старше сегодняшнего дня!</div>
                    </div>
                </span>
            </md-input-container>
        </fieldset>

        <fieldset class="standard">
            <legend translate>Делайте ставки, господа!</legend>
            <div layout="row">

                <md-select placeholder="{{'Тип ставки'|translate}}" ng-model="promise.typeRate">
                    <md-option ng-value="typeRate.rating">Рейтинг</md-option>
                    <md-option ng-value="typeRate.money">Деньги</md-option>
                    <md-option ng-value="typeRate.reckoning">Расплата</md-option>
                </md-select>

                <md-input-container ng-if="promise.typeRate == typeRate.rating" flex-gt-md="40">
                    <label translate>Рейтинг</label>

                    <input required
                           id="promise-rate-rating" name="rate" type="number"
                           ng-model="promise.rate" ng-max="user.rating" ng-min="10">

                    <div ng-messages="promiseForm.rate.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="max" translate>У вас недостаточно рейтинга!</div>
                        <div ng-message="min" translate>Минимум 10 единиц рейтинга!</div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="promise.typeRate == typeRate.money && user.balanceAccount > 0" flex-gt-md="40">
                    <label translate>Деньги</label>

                    <input required
                           id="promise-rate-money" name="rate" type="number"
                           ng-model="promise.rate" ng-max="user.balanceAccount">

                    <div ng-messages="promiseForm.rate.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="max" translate>У вас недостаточно средств!</div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="promise.typeRate == typeRate.reckoning" flex-gt-md="40">
                    <label translate>Ставка</label>

                    <textarea required
                           id="promise-rate-reckoning" name="rate"
                           ng-model="promise.rate" ng-min="5">
                    </textarea>

                    <div ng-messages="promiseForm.rate.$error">
                        <div ng-message="required" translate>Обязательное поле!</div>
                        <div ng-message="max" translate>У вас недостаточно средств!</div>
                        <div ng-message="min" translate>Опишите вашу расплату!</div>
                    </div>
                </md-input-container>
                <span>
                    <md-button ng-if="promise.typeRate == typeRate.money && !user.balanceAccount"
                        class="md-primary"
                        ng-href="/account"
                        translate>
                            Вам необходимо пополнить счет прежде чем делать ставки на деньги!
                    </md-button>
                </span>
            </div>
        </fieldset>

        <md-button type="submit" class="md-raised md-primary" translate>Добавить обещание</md-button>

    </form>

</md-content>