<script src="/js/user-owner.controller.js"></script>

<div ng-if="promises.length > 0">
    <md-card ng-repeat="promisesItem in promises track by $index | orderBy:'-$index'" ng-if="promisesItem.id > 0">
        <a href="/promise/{{promisesItem.id}}" layout="row">
            <div flex="40" class="image-container">
                <img ng-src="/images/promises/{{promisesItem.image_path}}" class="md-card-image" alt="promises-{{promisesItem.id}}">
            </div>
            <div flex="60">
                <md-card-content>
                    <h2 class="md-title" translate>Цель: {{promisesItem.title}}</h2>
                    <h2 class="md-title" translate>Ставка: {{promisesItem.rate}}</h2>
                    <p>
                        {{promisesItem.short_text}}
                    </p>
                </md-card-content>
            </div>
        </a>
        <div class="md-actions" layout="row" layout-align="space-between center">
            <!--<md-button ng-disabled="true" class="md-primary">{{promisesItem.success}} %</md-button>-->
            <md-button ng-disabled="true" class="md-primary" translate>{{promisesItem.views}} просмотров</md-button>
            <md-button class="md-primary" ng-href="/user/{{promisesItem.user_id}}">
                {{promisesItem.user_name + " " + promisesItem.user_surname}}
            </md-button>
        </div>
    </md-card>
</div>
<div id="you-not-have-promise" layout="column" layout-align="center center" ng-if="!promises.length > 0" class="md-title">
    <div translate>У вас еще нет ни одного обещания!</div>
    <div class="mdi mdi-emoticon-sad"></div>
    <div translate>
        Если у вас нехватка мотивации или вы хотите рассказать
        <br>
        о своих планах друзьям и пользователям проекта - вы можете
    </div>
    <md-button class="md-primary" ng-href="/add-promise" target="_blank" translate>
        Добавить обещание
    </md-button>
</div>