<html lang="ru" ng-app="application">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title translate>Обещания</title>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/google-font.css">
    <link rel="stylesheet" href="/vendor/bower/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/vendor/bower/mdi/css/materialdesignicons.min.css">

    <script src="/vendor/bower/jquery/dist/jquery.js"></script>

</head>
<body ng-controller="mainPageCtrl" layout="column">

<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="menu"></md-icon>
        </md-button>
        <div layout="row" layout-align="space-between center" style="width: 100%">
            <h1 translate>Обещания.ру</h1>
            <div ng-if="user.id" layout="row">
                <md-button class="md-grid-item-content" ng-href="/profile">
                    <md-icon md-svg-src="account"></md-icon>
                    <span class="md-grid-text">{{user.username}}</span>
                </md-button>
                <md-button class="md-grid-item-content" ng-click="exit($event)">
                    <md-icon md-svg-src="exit"></md-icon>
                    <span class="md-grid-text" translate>Выход</span>
                </md-button>
            </div>
            <div ng-if="!user.id" layout="row" >
                <md-button class="md-grid-item-content" ng-click="showEntranceForm($event)">
                    <md-icon md-svg-src="entrance"></md-icon>
                    <span class="md-grid-text" translate>Вход</span>
                </md-button>
                <md-button class="md-grid-item-content" ng-href="/registration">
                    <md-icon md-svg-src="assignment"></md-icon>
                    <span class="md-grid-text" translate>Регистрация</span>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>

<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-subheader translate>Меню</md-subheader>
        <md-list>
            <md-list-item>
                <md-button class="md-grid-item-content" ng-href="/news">
                    <md-icon md-svg-src="what-shot"></md-icon>
                    <span class="md-grid-text" translate>Новое</span>
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-grid-item-content" ng-href="/favorites">
                    <md-icon md-svg-src="bookmark"></md-icon>
                    <span class="md-grid-text" translate>Избранное</span>
                </md-button>
            </md-list-item>
        </md-list>
        <div ng-if="user.id">
            <md-subheader translate>Мои обещания</md-subheader>
            <md-list>
                <md-list-item>
                    <md-button class="md-grid-item-content" ng-href="/my-event">
                        <md-icon md-svg-src="notification"></md-icon>
                        <span class="md-grid-text" translate>Мои события</span>
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-grid-item-content" ng-href="/my-promise">
                        <md-icon md-svg-src="eye"></md-icon>
                        <span class="md-grid-text" translate>Просмотр обещаний</span>
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-grid-item-content" ng-href="/add-promise">
                        <md-icon md-svg-src="add"></md-icon>
                        <span class="md-grid-text" translate>Добавить новое</span>
                    </md-button>
                </md-list-item>
            </md-list>
        </div>
    </md-sidenav>
    <md-content id="main-content" layout="row" class="md-padding" when-scrolled="loadMore()">
        <div flex ng-view></div>
    </md-content>
</div>

<!-- Angular Material Dependencies -->
<!--<script src="/vendor/bower/jquery/dist/jquery.min.js"></script>-->
<script src="/vendor/bower/angular/angular.min.js"></script>
<script src="/vendor/bower/angular-messages/angular-messages.min.js"></script>
<script src="/vendor/bower/angular-validation/dist/angular-validation.min.js"></script>
<script src="/vendor/bower/angular-validation/dist/angular-validation-rule.min.js"></script>
<script src="/vendor/bower/angular-cookies/angular-cookies.min.js"></script>
<script src="/vendor/bower/angular-animate/angular-animate.min.js"></script>
<script src="/vendor/bower/angular-aria/angular-aria.min.js"></script>
<script src="/vendor/bower/angular-material/angular-material.min.js"></script>
<script src="/vendor/bower/angular-route/angular-route.min.js"></script>
<script src="/vendor/bower/angular-resource/angular-resource.min.js"></script>
<script src="/vendor/bower/angular-gettext/dist/angular-gettext.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/directive.js"></script>
<script src="/js/data.services.js"></script>
<script src="/js/profile.services.js"></script>
<script src="/js/authentication.service.js"></script>
<script src="/js/user-owner.services.js"></script>
<script src="/js/error.services.js"></script>
<script src="/js/main.controllers.js"></script>
<script src="/js/error.controller.js"></script>
<script src="/js/content.controllers.js"></script>

</body>
</html>