<h2 class="md-title" translate>
    Просмотр и изменение профиля
</h2>
<md-content layout-padding layout="column">
    <form name="profileForm" ng-submit="update()">
        <span>
            <img ng-show="profile.avatar != null" src="{{profile.avatar}}" class="avatar-preview">
            <img-avatar ngshow="profile.avatar == null" src="{{profile.avatar}}" class="avatar-preview"></img-avatar>
            <label class="md-primary md-raised md-button" md-ink-ripple for="user-avatar">
                <span translate>Выберите файл</span>
            </label>
            <input id="user-avatar" fileread="profile.avatar" type="file" class="ng-hide">
        </span>

        <md-input-container flex-gt-md="40">
            <label translate>Имя</label>
            <input required id="user-name" name="name" ng-maxlength="50" ng-model="profile.name">
            <div ng-messages="profileForm.name.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="maxlength" translate>Максимальная длинна поля 50 символов</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <label translate>Фамилия</label>
            <input required id="user-surname" name="username" ng-maxlength="50" ng-model="profile.surname">
            <div ng-messages="profileForm.username.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="maxlength" translate>Максимальная длинна поля 50 символов</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <md-select id="user-sex" placeholder="{{'Пол'|translate}}" ng-model="profile.sex">
                <md-option value="0" translate>Неизвестный</md-option>
                <md-option value="1" translate>Мужской</md-option>
                <md-option value="2" translate>Женский</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <label translate>email</label>
            <input required id="user-username" name="username" ng-maxlength="128" ng-model="profile.username"
                   ng-pattern="emailPattern">
            <div ng-messages="entranceForm.username.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Введите email в формате vasa@yandex.ru</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <label translate>пароль</label>
            <input id="user-password" name="password" ng-minlength="6" type="password" ng-model="profile.password">
            <div ng-messages="entranceForm.password.$error">
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-button type="submit" ng-disabled="formNotChanged" class="md-raised md-primary" translate>Изменить</md-button>

    </form>
</md-content>


