<h2 class="md-title" translate>
    Введите данные для регистрации
</h2>
<md-content layout-padding layout="column">

    <form name="userForm" ng-submit="registration()">

        <span>
            <img ng-show="user.avatar != null" src="{{user.avatar}}" class="avatar-preview">
            <img-avatar ngshow="user.avatar == null" src="{{user.avatar}}" class="avatar-preview"></img-avatar>
            <label class="md-primary md-raised md-button" md-ink-ripple for="user-avatar">
                <span translate>Выберите файл</span>
            </label>
            <input id="user-avatar" fileread="user.avatar" name="avatar" type="file" class="ng-hide">
        </span>

        <md-input-container flex-gt-md="40">
            <label translate>Имя</label>
            <input required id="user-name" name="name" ng-model="user.name">
            <div ng-messages="userForm.name.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <label translate>Фамилия</label>
            <input required id="user-surname" name="surname" ng-model="user.surname">
            <div ng-messages="userForm.username.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <md-select required id="user-sex" name="sex" placeholder="{{'Пол'|translate}}" ng-model="user.sex">
                <md-option value="0" translate>Неизвестный</md-option>
                <md-option value="1" translate>Женский</md-option>
                <md-option value="2" translate>Мужской</md-option>
            </md-select>
            <div ng-messages="userForm.sex.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <label translate>email</label>
            <input required name="username" ng-model="user.username"
                   ng-pattern="emailPattern">
            <div ng-messages="userForm.username.$error">
                <div ng-message="exist" translate>Пользователь с этим email уже существует!</div>
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="pattern" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-input-container flex-gt-md="40">
            <label translate>пароль</label>
            <input required name="password" type="password" ng-minlength="6" ng-model="user.password">
            <div ng-messages="userForm.password.$error">
                <div ng-message="required" translate>Обязательное поле!</div>
                <div ng-message="minlength" translate>Не меньше 6 символов</div>
            </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary" translate>Регистрация</md-button>

    </form>

</md-content>

<h2 class="md-title" translate>
    Или зарегестрируйтесь через соцсеть
</h2>
<md-content layout-padding layout="row">
    <md-button ng-href="/api/authorization/auth?authclient=google-plus" target="_top" aria-label="Google">
        <span class="mdi mdi-google-plus social-icon"></span>
    </md-button>
    <md-button ng-href="/api/authorization/auth?authclient=vkontakte" target="_top" aria-label="VK">
        <span class="mdi mdi-vk social-icon"></span>
    </md-button>
    <md-button ng-href="/api/authorization/auth?authclient=facebook" target="_top" aria-label="Facebook">
        <span class="mdi mdi-facebook social-icon"></span>
    </md-button>
</md-content>