<md-dialog aria-label="{{'Авторизация'|translate}}">
    <md-toolbar class="{{wrongPass || countAttemptMax ? 'md-warn' : 'md-primary'}}">
        <div class="md-toolbar-tools">
            <h2>
                <p ng-show="!wrongPass" translate>
                    Введите текущий пароль
                </p>
                <p ng-show="wrongPass" translate>
                    Неверный пароль
                </p>
                <p ng-show="countAttemptMax" translate>
                    Вы привысили максимальное число попыток входа!
                    Попробуйте позже...
                </p>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="confirmForm" ng-submit="confirmPassword()">
        <md-dialog-content layout-padding layout="column">
            <md-input-container flex-gt-md="40">
                <label translate>пароль</label>
                <input required name="password" ng-minlength="6" type="password" ng-model="user.checkPass">
                <div ng-messages="confirmForm.checkPass.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="minlength" translate>Не меньше 6 символов</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" ng-click="confirm($event)" translate>Подтвердить</md-button>
        </md-dialog-content>
    </form>
</md-dialog>