<md-dialog aria-label="{{'Авторизация'|translate}}" translate>
    <md-toolbar class="{{wrongLoginOrPass || countAttemptMax ? 'md-warn' : 'md-primary'}}">
        <div class="md-toolbar-tools">
            <h2>
                <p ng-show="!wrongLoginOrPass && !countAttemptMax" translate>
                    Введите данные для входа
                </p>
                <p ng-show="wrongLoginOrPass" translate>
                    Неверный логин / пароль
                </p>
                <p ng-show="countAttemptMax" translate>
                    Вы привысили максимальное число попыток входа!
                    Попробуйте позже...
                </p>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="entranceForm" ng-submit="entrance()">
        <md-dialog-content layout-padding layout="column">
            <md-input-container flex-gt-md="40">
                <label translate>Имя пользователя</label>
                <input required name="username" ng-model="user.username"
                       ng-pattern="emailPattern">
                <div ng-messages="entranceForm.username.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="pattern" translate>Введите email в формате vasa@yandex.ru</div>
                </div>
            </md-input-container>
            <md-input-container flex-gt-md="40">
                <label translate>пароль</label>
                <input required name="password" ng-minlength="6" type="password" ng-model="user.password">
                <div ng-messages="entranceForm.password.$error">
                    <div ng-message="required" translate>Обязательное поле!</div>
                    <div ng-message="minlength" translate>Не меньше 6 символов</div>
                </div>
            </md-input-container>
            <md-checkbox id="remember-me" md-no-ink aria-label="Remember me" ng-model="user.rememberMe" class="md-primary">
                <span translate>
                    Запомнить меня
                </span>
            </md-checkbox>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="query" translate>Вход</md-button>
        </md-dialog-content>
    </form>
    <div class="md-actions" layout="column">
        <h2 class="md-title" translate>
            Или авторизуйтесь через соцсеть
        </h2>
        <md-content layout-padding layout="row">
            <md-button ng-href="/api/authorization/auth?authclient=google-plus" target="_top" aria-label="Google">
                <span class="mdi mdi-google-plus social-icon"></span>
            </md-button>
            <md-button ng-href="/api/authorization/auth?authclient=vkontakte" target="_top" aria-label="VK">
                <span class="mdi mdi-vk social-icon"></span>
            </md-button>
            <md-button ng-href="/api/authorization/auth?authclient=facebook" target="_top" aria-label="Facebook">
                <span class="mdi mdi-facebook social-icon"></span>
            </md-button>
        </md-content>
    </div>
</md-dialog>