<md-dialog aria-label="{{'Ошибка валидации!'|translate}}" translate>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>
                <p translate>
                    Ошибка!
                </p>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding layout="column">
        <p translate>
            Проверьте, все ли поля заполнены правльно!
        </p>
        <md-button class="md-raised md-primary" ng-click="hide($event)" translate>OK</md-button>
    </md-dialog-content>
</md-dialog>