<md-dialog aria-label="{{'Ошибка'|translate}}" translate>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2>
                <p translate>
                    Произошла ошибка! Пожалуйста, укажите дополнительные сведения чтобы помочь нам её исправить.
                </p>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <form name="errorForm" ng-submit="sendError()">
        <md-dialog-content layout-padding layout="column">
            <md-input-container flex-gt-md="40">
                <label translate>Опишите ваши действия</label>
                <textarea name="errors" ng-model="user.errors" ng-maxlength="64000">
                </textarea>
                <div ng-messages="entranceForm.errors.$error">
                    <div ng-message="maxlength" translate>Не должно привышать 64000 символов!</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" translate>Отправить</md-button>
        </md-dialog-content>
    </form>
</md-dialog>