<md-card ng-repeat="favoritesItem in favorites">
	<a href="/news/{{favoritesItem.id}}">
		<img ng-src="{{favoritesItem.image_path}}" class="md-card-image" alt="news-{{favoritesItem.id}}">
		<md-card-content>
			<h2 class="md-title" translate>Цель: {{favoritesItem.title}}</h2>
			<h2 class="md-title" translate>Ставка: {{favoritesItem.rate}}</h2>
			<p>
				{{favoritesItem.short_text}}
			</p>
		</md-card-content>
	</a>
	<div class="md-actions" layout="row" layout-align="space-between center">
		<md-button ng-disabled="true" class="md-primary">{{favoritesItem.success}} %</md-button>
		<md-button ng-disabled="true" class="md-primary" translate>{{favoritesItem.views}} просмотров</md-button>
		<md-button class="md-primary" ng-href="/user/{{favoritesItem.user_id}}">
            {{favoritesItem.user_name + " " + favoritesItem.user_surname}}
        </md-button>
	</div>
</md-card>