<md-card ng-repeat="newsItem in news track by $index | orderBy:'-$index'" ng-if="newsItem.id > 0">
    <a href="/promise/{{newsItem.id}}" layout="row">
        <div flex="40" class="image-container">
		    <img ng-src="/images/promises/{{newsItem.image_path}}" class="md-card-image" alt="news-{{newsItem.id}}">
        </div>
        <div flex="60">
            <md-card-content>
                <h2 class="md-title" translate>Цель: {{newsItem.title}}</h2>
                <h2 class="md-title" translate>Ставка: {{newsItem.rate}}</h2>
                <p>
                    {{newsItem.short_text}}
                </p>
            </md-card-content>
        </div>
	</a>
	<div class="md-actions" layout="row" layout-align="space-between center">
		<!--<md-button ng-disabled="true" class="md-primary">{{newsItem.success}} %</md-button>-->
		<md-button ng-disabled="true" class="md-primary" translate>{{newsItem.views}} просмотров</md-button>
		<md-button class="md-primary" ng-href="/user/{{newsItem.user_id}}">
			{{newsItem.user_name + " " + newsItem.user_surname}}
		</md-button>
	</div>
</md-card>