<md-card>
        <img ng-src="/images/promises/{{promise.image_path}}" class="md-card-image" alt="news-{{promise.id}}">
        <md-card-content>
            <h2 class="md-title" translate>Цель: {{promise.title}}</h2>
            <h2 class="md-title" translate>Ставка: {{promise.rate}}</h2>
            <p>
                {{promise.short_text}}
            </p>
        </md-card-content>
    <div class="md-actions" layout="row" layout-align="space-between center">
        <md-button ng-disabled="true" class="md-primary" translate>{{promise.views}} просмотров</md-button>
    </div>
</md-card>
<md-content>
    <md-subheader class="md-no-sticky" translate>Комментарии и оценки</md-subheader>
    <md-list ng-if="promise.assessmentComment.length > 0" ng-repeat="comment in promise.assessmentComment">
            <md-list-item class="md-3-line relative">
                <img-avatar src="{{comment.author.avatar}}" alt="{{comment.author.name + comment.author.surname}}"></img-avatar>
                <div class="md-list-item-text">
                    <h3>
                        {{ comment.author.name + " " + comment.author.surname }}
                    </h3>
                    <h4>
                        <md-icon md-svg-src="{{comment.assessment > 0 ? 'thumb-up' : 'thumb-down'}}"></md-icon>
                    </h4>
                    <p>{{ comment.comment }}</p>
                    <div layout="row" layout-align="start center">
                        <div>
                            <md-button class="md-button" aria-label="like">
                                <md-icon md-svg-src="thumb-up" class="green-200"></md-icon>
                                <span class="green-200">{{1*comment.positive > 0 ? "+" + 1*comment.positive : ""}}</span>
                            </md-button>
                            <md-button class="md-button" aria-label="dislike">
                                <md-icon md-svg-src="thumb-down" class="red-200"></md-icon>
                                {{1*comment.negative > 0 ? "-" + 1*comment.negative : ""}}
                            </md-button>
                        </div>
                        <md-button ng-disabled="true" class="md-primary">
                            <span class="{{1*comment.positive - 1*comment.negative > 0 ?
                                            'green-200' : 'red-200'}}">
                                {{ 1*comment.positive - 1*comment.negative}}
                            </span>
                        </md-button>
                        <md-button class="md-raised md-primary" translate>Комментировать</md-button>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>

            <md-list-item class="md-3-line relative">
                <img-avatar src="{{user.avatar}}" alt="{{user.name + user.surname}}"></img-avatar>
                <div class="md-list-item-text">
                    <h3>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary" translate>
                            Остаться анонимным
                        </md-checkbox>
                    </h3>
                    <h4 translate>
                        Оценка:
                        <md-radio-group ng-model="" layout="row" layout-align="start center">
                            <md-radio-button value="-1" class="md-primary">
                                <md-icon md-svg-src="thumb-down" class="red-200"></md-icon>
                            </md-radio-button>
                            <md-radio-button value="+1">
                                <md-icon md-svg-src="thumb-up" class="green-200"></md-icon>
                            </md-radio-button>
                        </md-radio-group>
                    </h4>
                    <p>
                        <md-button ng-if="comment.commentPost[commentPost.post_id].authorPost.name.length > 0"
                                   class="md-primary">
                            {{comment.commentPost[commentPost.post_id].authorPost.name + ", "}}
                        </md-button>
                        {{ commentPost.comment }}
                    </p>
                    <md-input-container flex>
                        <label translate>Ваш комментарий</label>
                        <textarea ng-model="" columns="1" md-maxlength="2000"></textarea>
                    </md-input-container>

                </div>
            </md-list-item>

            <md-list-item class="sub-comment relative md-3-line" ng-repeat="commentPost in comment.commentPost track by $index"
                    id="comment-number-{{$index}}">
                <img-avatar src="{{commentPost.authorPost.avatar}}" alt="{{commentPost.authorPost.name + commentPost.authorPost.surname}}"></img-avatar>
                <div class="md-list-item-text">
                    <h3 id="comment-id-{{comment.id}}">
                        {{ commentPost.authorPost.name + " " + commentPost.authorPost.surname }}
                    </h3>
                    <h4>
                        <md-icon md-svg-src="{{comment.assessment > 0 ? 'thumb-up' : 'thumb-down'}}"
                             class="{{comment.assessment > 0 ? 'green' : 'red'}}"></md-icon>
                    </h4>
                    <p>
                        <md-button ng-if="comment.commentPost[commentPost.post_id].authorPost.name.length > 0"
                                  class="md-primary">
                            {{comment.commentPost[commentPost.post_id].authorPost.name + ", "}}
                        </md-button>
                        {{ commentPost.comment }}
                    </p>
                    <div layout="row" layout-align="start center">
                        <md-button class="md-raised" translate>Ответить</md-button>
                        <div>
                            <md-button class="md-button" aria-label="like">
                                <md-icon md-svg-src="thumb-up" class="green-200"></md-icon>
                                <span class="green-200">{{1*commentPost.positive > 0 ? "+" + 1*commentPost.positive : ""}}</span>
                            </md-button>
                            <md-button class="md-button" aria-label="dislike">
                                <md-icon md-svg-src="thumb-down" class="red-200"></md-icon>
                                {{1*commentPost.negative > 0 ? "-" + 1*commentPost.negative : ""}}
                            </md-button>
                        </div>
                        <md-button ng-disabled="true" class="md-primary">
                            <span class="{{1*commentPost.positive - 1*commentPost.negative > 0 ?
                                            'green-200' : 'red-200'}}">
                                {{ 1*commentPost.positive - 1*commentPost.negative}}
                            </span>
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>
    </md-list>
</md-content>