* {
    font-family: Roboto-Regular;
}
a {
	color: currentColor;
	text-decoration: none;
}
.social-icon {
    font-size: 50px !important;
}
#remember-me {
    margin: 25px;
}
.sub-comment {
    margin-left: 50px;
}
.red-100 {
    color: #FFCDD2;
}
.red-200 {
    color: #EF9A9A;
}
.green-100 {
    color: #C8E6C9;
}
.green-200 {
    color: #A5D6A7;
}
.relative {
    position: relative;
}
#main-content {
    width: 100%;
}
.avatar-preview {
    margin: 0 15px;
    min-height: 80px;
    max-height: 100px;
    min-width: 80px;
}
#you-not-have-promise {
    text-align: center;
}
#you-not-have-promise .mdi.mdi-emoticon-sad{
    font-size: 200px;
}
fieldset.standard, hr {
    /*border-style: solid;*/
    border-width: 1px; }
legend {
    color: #3F51B5; }
legend code {
    color: #3F51B5;
    font-weight: normal; }
.preview {
    max-width: 200px;
}
.image-container {
    margin-right: 15px;
    max-height: 20vw;
    overflow: hidden;
}
md-card {
    margin: 15px !important;
}
md-card>:not(md-card-content) img {
    width: auto !important;
    max-width: 100%;
}
md-card>img.md-card-image {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    margin: auto;
}
#video-preview {
    width: 50vw;
    height: 25vw;
}
.photo-work-gallery-container,
.photo-work-video-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 35px;
}
.photo-work-gallery {
    max-height: 200px;
    max-width: 200px;
}
.photo-work-gallery-container .drop-button,
.photo-work-video-container .drop-button {
    position: absolute !important;
    top: 0;
    right: 0;
}
.photo-work-video-container .drop-button {
    right: -50px;
}